@model List<MindLog.Models.ViewModels.MoodEntryViewModel>
@{
    ViewData["Title"] = "Mood Entries";
}

<h1>Mood Entries</h1>

<h2>My Μood Statistics: <a class="btn btn-sm btn-warning" asp-controller="MoodIndex" asp-action="Index">View</a> </h2>


<lr></lr>
<a class="btn btn-primary mb-3" asp-controller="MoodIndex" asp-action="Index">My Μood Statistics View</a>
<a class="btn btn-primary mb-3" asp-action="Create">New Entry</a>
</lr>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Mood</th>
            <th>Note</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.Mood</td>
                <td>@item.Note</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
